<div data-hook="admin_product_popup_form_fields">
  <%= f.field_container :product, class: ['form-group'], 'data-hook' => "product_id" do %>
    <%= f.label :product_id, Spree.t(:product) %>
    <%= f.collection_select :variant_id, Spree::Variant.active, :id, :name_and_sku, {include_blank: true}, {class: 'select2'} %>
    <%= f.error_message_on :variant_id %>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= f.field_container :effective_date, class: ["form-group"], 'data-hook' => "effective_date" do %>
        <%= f.label :effective_date, Spree.t(:effective_date) %>
        <%= f.text_field :effective_date, value: datepicker_field_value(@product_popup.effective_date), class: 'datepicker datepicker-from form-control', autocomplete: :off %>
        <%= f.error_message_on :effective_date %>
      <% end %>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= f.field_container :expiration_date, class: ["form-group"], 'data-hook' => "expiration_date" do %>
        <%= f.label :expiration_date, Spree.t(:expiration_date) %>
        <%= f.text_field :expiration_date, value: datepicker_field_value(@product_popup.expiration_date), class: 'datepicker datepicker-to form-control', autocomplete: :off %>
        <%= f.error_message_on :expiration_date %>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr><td colspan="2">
        <%= f.label :match_url, Spree.t(:popup_url) %>
      </td></tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= current_store.url %>/
        </td>
        <td width="100%">
          <%= f.field_container :match_url, class: ['form-group'], 'data-hook' => "match_url" do %>
            <%= f.text_field :match_url, value: @product_popup.match_url, class: 'form-control', autocomplete: 'off' %>
            <%= f.error_message_on :match_url %>
          <% end %>
        </td>
      </tr>
      <tr class="small">
        <td colspan="2">
          Enter a path relative to the site's domain (e.g. <code>products/my-product</code> or <code>categories/featured-items</code>)
        </td>
      </tr>
    </tbody>
  </table>


  <div data-hook="additional_product_popup_fields"></div>
</div>
