<% content_for :page_title do %>
  <%= link_to Spree.t(:product_popups), spree.admin_product_popups_url %> /
  <%= @product_popup.variant.name.capitalize %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_popup } %>
<div class="panel panel-default">
  <div class="panel-heading">Edit this Popup</div>

  <div class="panel-body">
    <%= form_for [:admin, @product_popup] do |f| %>
      <fieldset>
        <%= render partial: 'form', locals: { f: f } %>

        <%= f.field_container :headline, class: ["form-group"], 'data-hook' => "headline" do %>
          <%= f.label :headline, Spree.t(:headline) %>
          <div class="small">If this is left blank, the product's name will be used instead</div>
          <%= f.text_field :headline, value: @product_popup.headline, class: 'form-control' %>
          <%= f.error_message_on :headline %>
        <% end %>

        <%= f.fields_for :image_attributes do |image_fields| %>
          <% image = @product_popup.image %>
          <div data-hook="admin_image_form_fields" class="row">
            <div class="col-xs-12"><h3>Custom Image</h3></div>
            <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-0">

              <% if image.blank? %>
                <p>
                  No custom image selected. The product image will be used instead.
                </p>
              <% else %>
                <div class="image-wrapper">
                  <%= product_popup_image(@product_popup) %>
                </div>

                <%= link_to('Remove Image', admin_delete_product_popup_image_path(@product_popup), class: 'btn btn-primary', method: :delete) %>
              <% end %>
            </div>

            <div class="col-xs-12 col-md-6">
              <div data-hook="alt_text" class="form-group">
                <div data-hook="file" class="form-group">
                  <%= image_fields.label :attachment, Spree.t(:filename) %>
                  <%= image_fields.file_field :attachment %>
                </div>
                <div class="form-group">
                  <%= image_fields.label :alt, Spree.t(:alt_text) %>
                  <div class="small">Defaults to the variant name</div>
                  <%= image_fields.text_area :alt, rows: 4, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.field_container :confirm_text, class: ["form-group"], 'data-hook' => "confirm_text" do %>
              <%= f.label :confirm_text, Spree.t(:confirm_text) %>
              <div class="small">Defaults to 'Add to Cart'</div>
              <%= f.text_field :confirm_text, value: @product_popup.confirm_text, class: 'form-control', maxlength: 15 %>
              <%= f.error_message_on :confirm_text %>
            <% end %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.field_container :decline_text, class: ["form-group"], 'data-hook' => "decline_text" do %>
              <%= f.label :decline_text, Spree.t(:decline_text) %>
              <div class="small">Defaults to 'No Thanks'</div>
              <%= f.text_field :decline_text, value: @product_popup.decline_text, class: 'form-control', maxlength: 15 %>
              <%= f.error_message_on :decline_text %>
            <% end %>
          </div>
        </div>

        <%= f.field_container :custom_copy, class: ["form-group"], 'data-hook' => "custom_copy" do %>
          <%= f.label :custom_copy, Spree.t(:custom_copy) %>
          <div class="small">Enter custom text and/or HTML content. If this is left blank, the product's description will be used instead</div>
          <%= f.text_area :custom_copy, value: @product_popup.custom_copy, rows: 20, class: 'form-control' %>
          <%= f.error_message_on :custom_copy %>
        <% end %>

        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      </fieldset>
    <% end %>
  </div>
</div>
