<% content_for :page_title do %>
  <%= Spree.t(:product_popup) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product_popup), new_admin_product_popup_url, class: "btn-success", icon: 'add', id: 'admin_new_product_popup' %>
<% end if can? :create, Spree::ProductPopup %>

<%= #render 'spree/admin/shared/index_table_options', collection: @product_popups
%>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= @show_active ? 'active' : '' %>">
    <%= link_to "Active", admin_product_popups_path(active: true) %>
  </li>
  <li role="presentation" class="<%= @show_expired ? 'active' : '' %>">
    <%= link_to "Expired", admin_product_popups_path(expired: true) %>
  </li>
  <li role="presentation" class="<%= @show_future ? 'active' : '' %>">
    <%= link_to "Future", admin_product_popups_path(future: true) %>
  </li>
</ul>

<% if @product_popups.any? %>
  <% @product_popups = @product_popups.page(params[:page]).per(params[:per_page] || 15) %>
  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @product_popups } %>

  <table class="table" id="listing_events" data-hook>
    <thead>
      <tr data-hook="admin_events_index_headers">
        <th>Variant</th>
        <th>Effective Date</th>
        <th>Expiration Date</th>
        <th data-hook="admin_events_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @product_popups.each do |popup| %>
      <tr data-hook="admin_events_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= link_to popup.variant.product.name, edit_admin_product_popup_path(popup) %></td>
        <td><%= popup.effective_date %></td>
        <td><%= popup.expiration_date %></td>
        <td class='actions actions-1' data-hook="admin_events_index_row_actions">
          <%= link_to_edit_url edit_admin_product_popup_path(popup), title: "admin_edit_#{dom_id(popup)}", no_text: true %>
          <%= link_to_delete popup, title: "admin_delete_#{dom_id(popup)}", no_text: true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ProductPopup)) %>,
    <%= link_to(Spree.t(:add_one), new_admin_product_popup_url) if can? :create, Spree::ProductPopup %>!
  </div>
<% end %>
