<% content_for :page_title do %>
  <%= link_to Spree.t(:product_popup), spree.admin_product_popups_url %> /
  <%= Spree.t(:new_product_popup) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_popup } %>

<%= form_for [:admin, @product_popup] do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
<% end %>
