<%
  # NOTE: The product show template has conditionals that control whether a product can be added
  #       to a cart. These same checks fire before returning @product_popup. If the user can't
  #       purchase the item for any reason, there's no reason to taunt them with it.
  #
  #       If a matching popup for the current URL cannot be displayed due to the reasons outlined
  #       above, the gem will try to locate a more generic popup on the same path hierarchy.
  #
  #             For example, if Product A is set to popup on `products/alpha`, and Product B is
  #             set to popup on `products`, if Product A is out of stock, the Product B popup
  #             will be displayed instead.
%>

<% if !(@product_popup.nil?) %>
  <% variant = @product_popup.variant %>
  <div class='modal spree-product-popup-modal' id='modal-product-popup' tabindex='-1' role='dialog' aria-labelledby='product-popup' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>

        <div class='modal-header product-popup-header'>
          <button class='btn btn-primary close' type='button' data-dismiss='modal' aria-label='Close'>
            <i class='icon-closeMobile'></i>
          </button>
        </div>

        <div class="modal-body product-popup-body">
          <div class="col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 bg-light">
            <div class="row text-center product-popup-title-wrapper">
              <div class="col-xs-10 col-xs-offset-1">
                <h1 class="product-popup-title"><%= @product_popup.headline.blank? ? variant.name : @product_popup.headline %></h1>
              </div>
            </div>

            <div class="row product-popup-image-wrapper">
              <div class="col-xs-8 col-lg-6 col-xs-offset-2 col-lg-offset-3">
                <p class="text-center"><%= product_popup_image(@product_popup) %></p>
              </div>
            </div>

            <div class="row text-center product-popup-copy-wrapper">
              <div class="col-xs-10 col-xs-offset-1 product-popup-copy">
                <% if (@product_popup.custom_copy.blank?) %>
                  <%= raw(variant.description) rescue spree.t(:product_has_no_description)  %>
                <% else %>
                  <%= raw(@product_popup.custom_copy) %>
                <% end %>
              </div>
            </div>

            <div class="row text-center product-popup-toolbar-wrapper">
              <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">
                <div class="row product-popup-toolbar">
                  <div class="col-xs-12 col-sm-6">
                    <%= form_for :order, url: spree_product_popup_populate_path do |f| %>
                      <%= hidden_field_tag :quantity, 1 %>
                      <%= hidden_field_tag :product_popup_id, @product_popup.id %>
                      <%= hidden_field_tag "variant_id", variant.id %>
                      <%= button_tag class: 'btn btn-success product-popup-btn product-popup-add', id: 'popup-add-to-cart-button', type: :submit, 'aria-label' => 'Add to cart' do %>
                        <%= @product_popup.confirm_text.blank? ? Spree.t(:product_popup_add_cart) : @product_popup.confirm_text %>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <button class='btn btn-success product-popup-btn product-popup-close' type='button' data-dismiss='modal' aria-label='Close'>
                      <%= @product_popup.decline_text.blank? ? Spree.t(:product_popup_no_thanks) : @product_popup.decline_text %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $.ajax({
      url: '/spree-product-popup/dismissed/<%= @product_popup.id %>',
      type: 'GET',
      dataType: "json",
      success: function(data) {
        if (!data) {
          setTimeout(displayPopup, 10000);
          function displayPopup() {
            $('#modal-product-popup').modal('show');
          }
        }
      }
    })

    $('#modal-product-popup').on('hidden.bs.modal', function () {
      $.ajax({
        url: '/spree-product-popup/dismissed/<%= @product_popup.id %>',
        type: 'POST',
        data: true
      })
    })
  </script>
<% end %>
